project:
  type: website

website:
  title: "franceslinyc"
  open-graph: true
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - portfolio/index.qmd
      - posts/index.qmd
      - whatelse.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



